# {{ ansible_managed }}

#
# Disable access to the entire file system except for the directories that
# are explicitly allowed later.
#
# This currently breaks the configurations that come with some web application
# Debian packages.
#
#<Directory />
#   AllowOverride None
#   Require all denied
#</Directory>


# Changing the following options will not really affect the security of the
# server, but might make attacks slightly more difficult in some cases.

#
# ServerTokens
# This directive configures what you return as the Server HTTP response
# Header. The default is 'Full' which sends information about the OS-Type
# and compiled in modules.
# Set to one of:  Full | OS | Minimal | Minor | Major | Prod
# where Full conveys the most information, and Prod the least.

# Send only necessary header responses
ServerTokens Prod

#
# Optionally add a line containing the server version and virtual host
# name to server-generated pages (internal error documents, FTP directory
# listings, mod_status and mod_info output etc., but not CGI generated
# documents or custom error documents).
# Set to "EMail" to also include a mailto: link to the ServerAdmin.
# Set to one of:  On | Off | EMail
# Reduces server signature which exposes your OS and web server information
# like "Apache/2.4.25 (Debian) Server" to "Apache"
ServerSignature Off

#
# Allow TRACE method
#
# Set to "extended" to also reflect the request body (only for testing and
# diagnostic purposes).
#
# Set to one of:  On | Off | extended
TraceEnable Off

#
# Forbid access to version control directories
#
# If you use version control systems in your document root, you should
# probably deny access to their directories. For example, for subversion:
#
#<DirectoryMatch "/\.svn">
#   Require all denied
#</DirectoryMatch>

# Add security-related HTTP headers
# The following settings are fine for static websites but have to be modified
# for Wordpress etc.

# Enable Content Security Policy (Level 2)
Header always set Content-Security-Policy "default-src 'none'; img-src 'self'; style-src 'self'; font-src 'self'; base-uri 'none'; frame-ancestors 'none'; form-action 'none'"

# Disable Referrer which isn't needed when you don't use authentication
Header always set Referrer-Policy "no-referrer"

# Enable HSTS (max-age: one year)
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS

# Enforce MIME types for script and style elements
Header always set X-Content-Type-Options "nosniff"

# Enable OCSP stapling
#SSLUseStapling {{ ssl_stapling }}
#SSLStaplingResponderTimeout 5
#SSLStaplingReturnResponderErrors off
#SSLStaplingCache shmcb:/var/run/apache2/ocsp(128000)

# Legacy HTTP response headers
# (Set these only if you want to support really old web browsers!)

# Enable Clickjacking protection
# (Uncomment, if needed. Only necessary, if you support old web browsers that
# don't support the CSP Level 2 directive "frame-ancestors".)
# Header always set X-Frame-Options "DENY"

# Enable XSS protection
# (Uncomment, if needed. Only necessary, if you support old web browsers that
# don't support the Content Security Policy header.)
# Header always set X-Xss-Protection "1; mode=block"


# vim: syntax=apache ts=4 sw=4 sts=4 sr noet